@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}




.logo {
  font-family: "Rozha One", sans-serif;
}

.hero__overlay {
  background-color: #030303a4;
}

.hero__image {
  width: 100%;
  vertical-align: top;
  border: 0;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(4, 160, 24, 0.733);
  mix-blend-mode: overlay;
}



.footer {
  background-color:#308a00 ;
}


.magenda{
  font-family: "Magenda";
}

.aboutSection{
  background-color: #fad909;
}

.aboutSection h1, .aboutPara{
  color: #004727;
}
.about-picture{
  background-image: url('../public/img12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aboutSection2{
  background-color: #308a00;
}

.leader, .leader2{
  color: #004727;
  
}

.container {
  position: relative;
  overflow: hidden;
  width: 80vw;
  margin: auto;
  height: 50vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  

  transition: transform 0.9s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding-left: 70px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
 
  flex-direction: column;
  
}

.main-slide h1{

}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #222;
  background-color: #fad909;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sidebar_1{
  background-image: url('../public/img1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_2{
  background-image: url('../public/img11.jpeg');
  background-size: cover;

  background-position: right;
  background-repeat: no-repeat;
  
}
.sidebar_3{
  background-image: url('../public/img3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_4{
  background-image: url('../public/img4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_5{
  background-image: url('../public/img5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_6{
  background-image: url('../public/img6.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_7{
  background-image: url('../public/img3.jpeg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  
}
.sidebar_8{
  background-image: url('../public/img14.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_9{
  background-image: url('../public/img9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_10{
  background-image: url('../public/img2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.sidebar_11{
  background-image: url('../public/img8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.slide_1{
  background-color: #222;
}

